.carousel_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
